  .ticket-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ticket-section li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .ticket-section span {
    display: inline-block;
    margin-right: 10px;
  }

  .ticket-section button {
    display: inline-block;
  }

  .body {
    background: rgb(219, 222, 221);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .black-text {
    color: black;
  }

  .content-container {
    margin-top: 100px;
  }

  .background-div {
    background: -webkit-linear-gradient(to right, rgb(89, 118, 138), rgb(130, 105, 154));
    background: linear-gradient(to right, rgb(48, 23, 23), rgb(57, 41, 69));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }



  .pagination-circle .page-link {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
  }

  .pagination-circle .page-link:hover {
    background-color: rgb(92, 138, 246);
    color: white;
  }

  .pagination-circle .page-item.disabled .page-link,
  .pagination-circle .page-item.active .page-link {
    cursor: not-allowed;
    background-color: white;
    color: rgb(245, 46, 46);
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination-circle .page-item.disabled .page-link:hover,
  .pagination-circle .page-item.active .page-link:hover {
    background-color: rgb(246, 92, 92);
    color: black;
  }

  .gradient-custom-search-bar {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(141, 113, 142), rgb(114, 142, 113));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(141, 113, 142), rgb(255, 172, 99));

  }

  .bolded .dropdown-toggle {
    color: rgb(223, 234, 234);
  }


  .card-gradient {

    background: -webkit-linear-gradient(to right, rgb(206, 98, 49), rgb(49, 157, 206));

    background: linear-gradient(to right, rgb(206, 98, 49), rgb(49, 157, 206));

  }

  .card-bodyy-light {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(92, 108, 214);

  }

  .card-titlee-bold {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(14, 3, 39)
  }

  .my-event-image {
    object-fit: cover;
    height: 440px;
  }

  .my-select {
    background-color: #acc4ed;
    color: #141414;
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
    width: 50%;
  }

  .event-container-gradient {

    background: -webkit-linear-gradient(to right, rgb(206, 98, 49), rgb(49, 157, 206));

    background: linear-gradient(to right, rgb(96, 81, 116), rgb(242, 122, 63));

    border-radius: 15px;

  }

  .card-bodyy-light2 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(21, 5, 32);
  }

  .location-link {
    margin-right: 8px;
    /* Add some space between the links */
  }

  .my-wider-image {
    border: 3px solid rgb(246, 113, 11);
  }

  .my-custom-padding {
    padding-right: 1rem;
  }

  .my-custom-row {
    display: flex;
    flex-direction: column;
  }

  .my-custom-row>.row {
    display: flex;
    flex-grow: 1;
  }

  .myy-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.33%;
    /* Divide the height by the number of images */
  }


  .myy-image-container img {
    max-height: 100%;
    object-fit: cover;
  }

  .myy-carousel-container {
    max-width: 20rem;
    width: 100%;
    height: 100%;
  }


  .available-hours {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }

  .available-hours ul {
    list-style-type: none;
    padding: 0;
  }

  .hour-badge:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }