.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hover-overlay:hover {
    opacity: 0.8;

}

.carousel-img {
    height: 400px;
    object-fit: cover;
}

.custom-arrow {
    width: 20px;
    height: 20px;
    border: solid transparent;
    /* set border-color to transparent */
    border-width: 2px 2px 0 0;
}

.carousel-control-prev-icon.custom-prev {
    transform: rotate(135deg);
}

.carousel-control-next-icon.custom-next {
    transform: rotate(-45deg);
}

.carousel-container {
    padding-top: 65px;
    /* adjust the value as needed */
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 350px;
    /* You can adjust this value based on your preference */
}

.container-smaller {
    max-width: 800px;
    max-height: 300px;
    /* Change this value to adjust the maximum width as needed */
}

.content-container {
    margin-top: 0;
}

.gradient-custom-search-bar {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(141, 113, 142), rgb(114, 142, 113));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(141, 113, 142), rgb(255, 172, 99));

}

.carousel-gradient {

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(175, 169, 175), rgb(169, 171, 165));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(175, 169, 175), rgb(169, 171, 165));

}

.bolded .dropdown-toggle {
    color: rgb(223, 234, 234);
}

.carousel-background {
    background: linear-gradient(to right, rgb(175, 169, 175), rgb(169, 171, 165));
    padding: 20px;
    margin-bottom: 20px;
}

.card-bodyy-light {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(92, 108, 214);
}

.card-titlee-bold {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(14, 3, 39);
}

.my-event-image {
    object-fit: cover;
    height: 440px;
}