.btn-primary:hover {
    background-color: wheat;
    border-color: black;
    color: black;
    transition: all 0.3s ease;
  }

  .btn-primary2:hover {
    background-color: black;
    border-color: wheat;
    color: wheat;
    transition: all 0.3s ease;
  }

  .btn-primary {
    background-color: black;
    border-color: white;
    color: white;
  }

  .btn-primary2 {
    background-color: white;
    border-color: black;
    color: black;
  }
  
  .logged-in-user {
    background-color: #F0F0F0;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  