.card-gradient {
    background: -webkit-linear-gradient(to right, rgb(206, 98, 49), rgb(49, 157, 206));
    background: linear-gradient(to right, rgb(206, 98, 49), rgb(49, 157, 206));
}

.card-bodyy-light {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(92, 108, 214);
}

.card-titlee-bold {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(14, 3, 39);
}

.my-event-image {
    object-fit: cover;
    height: 440px;
}