.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.round-img {
  border-radius: 90% 40% 70% 60%;
  box-shadow: #d2ba6b 0px 0px 20px;
}

.custom-navbar {
  color: #b5ebd7;
}

.custom-dropdown-item .btn {
  width: 100%;
  text-align: center;
}

.gradient-custom-navbar {

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(52, 37, 60), rgb(45, 60, 37));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(233, 147, 101), rgb(102, 79, 124));

  color: #e77171;
  /* for the elepthants */
}

.gradient-custom-button {

  background: -webkit-linear-gradient(to right, rgb(89, 118, 138), rgb(130, 105, 154));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(89, 118, 138), rgb(130, 105, 154));

  color: #110101;
  /* for the elepthants */
}

.gradient-custom-button:hover {

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(233, 108, 101), rgb(102, 79, 124));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(233, 108, 101), rgb(102, 79, 124));


}

.but-text {
  color: #ffc9c9;
}


.logged-text {
  color: #40be01;
}

.logged2-text {
  color: #0b1a03;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #1d2124;
  text-decoration: none;
  background-color: rgba(220, 53, 69, 0.1);
}