/* CustomSeatPicker.css */
.custom-seat-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
}

.screen {
    width: 80%;
    height: 20px;
    background-color: #120f0f;
    margin-bottom: 10px;
    color: wheat;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.seat {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 0px 0px;
    margin: 3px;
    cursor: pointer;
    background-color: green;
}

.seat:hover {
    transform: scale(1.1);
}

.seat.selected {
    background-color: blue;
}

.seat.reserved {
    background-color: gray;
}